.LatidoContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.measure-circle {
    height: 300px;
    width: 300px;
    border: 7px solid #D4268F;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.measure-circle-bpm {
    color: rgba(212, 38, 143, 0.49);
    font-size: 40px;
    font-weight: 600;
}

.measure-circle-bpm > .bpm-highlight {
    color: #D4268F;
}

.measure-circle-subtitle {
    color: rgba(212, 38, 143, 0.49);
}

.guideLine {
    background-color: #D4268F;
    position: absolute;
    transform: rotate(90deg);
    height: 3px;
}

.guideLine.left {
    left: -16px;
    top: 157px;
    width: 306px;
}

.guideLine.right {
    left: 34px;
    top: 157px;
    width: 306px;
}

.guideLineHorizontal {
    top: 156px;
    background-color: #D4268F;
    left: 7px;
    transform: none;
}

.guideLineHorizontal.top {
    top: 90px;
    left: 20px;
    width: 276px;
}

.guideLineHorizontal.bottom {
    top: 50px;
    left: 50px;
    width: 220px;
}

.latido-container {
    position: relative;
}
