.LatidoContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.measure-circle {
    height: 300px;
    width: 300px;
    border: 7px solid #D4268F;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.measure-circle-bpm {
    color: rgba(212, 38, 143, 0.49);
    font-size: 40px;
    font-weight: 600;
}

.measure-circle-bpm > .bpm-highlight {
    color: #D4268F;
}

.measure-circle-subtitle {
    color: rgba(212, 38, 143, 0.49);
}

.guideLine {
    width: 260px;
    height: 1px;
    background-color: #D4268F;
    position: absolute;
    top: 70px;
    right: 27px;
}

.guideLine .left {

}

.guideLine .right {

}

.guideLineHorizontal {
    top: 156px;
    width: 300px;
    height: 1px;
    background-color: #D4268F;
    transform: rotate(90deg);
    left: 7px;
}

.latido-container {
    position:relative;
}
